*{
    margin: 0 0 0 0;
}

main{
    font-family: 'Poppins';
    min-height: 100vh;
    background: #0a0f1a;
    animation: gradientAnimation 30s linear infinite;
    background-size: 1000% 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(15% at 60% 10%);
}

main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(149, 0, 255),rgb(43, 0, 255));
    clip-path: circle(14% at 35% bottom);
}


@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.glass{
    max-width: 80vh;
    max-height: 80vh;
    background: rgba(255,255,255, 0.1);
    z-index: 2;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    position: relative;
    margin-top: 3rem;
    height: 10vh;
    width: auto;
    padding: 3%;
}

h1{
    color: white;
    font-size: 6vh;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

.content{
    position: relative;
    size: 5vh;
    margin-bottom: 3rem;
    padding: 0 3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions{
    position: relative;
    size: 150%;
    padding: 5%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.1),
                1px 1px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{ 
    color: white;
    font-size: 3vh;
    font-weight: 300;
    text-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

input {
    margin-top: 2%;
    border: none;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.4),
                inset -1px -1px 5px rgba(255, 255, 255, 0.06);
    background: rgba(255, 255, 255, 0.07);
    width: 50%;
    height: 3vh;
    border-radius: 2rem;
}

.circle1,.circle2{
    height: 13rem;
    width: 13rem;
    position: absolute;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255, 0.8),
        rgba(255,255,255, 0.3)
        );
    box-shadow: 0.1rem 0.1rem 0.2rem #0001;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 15%;
}

button{
    align-self: center;
    padding: 8px 20px;
}